@model Vehiculo



<section class="formulario">

    <h1>Agregar Vehículo</h1>

    <div class="form-container">


        <form id="form_vehiculos">
            <label for="Placa">Placa:</label>
            <input type="text" id="Placa" name="Placa" maxlength="20" required />
            
            <label for="Marca">Marca:</label>
            <input type="text" id="Marca" name="Marca" maxlength="100" required />

            <label for="Modelo">Modelo:</label>
            <input type="text" id="Modelo" name="Modelo" maxlength="100" required />

            <label for="Traccion">Tracción:</label>
            <input type="text" id="Traccion" name="Traccion" maxlength="20" required />

            <label for="Color">Color:</label>
            <input type="text" id="Color" name="Color" maxlength="20" required />

            <label for="UltimaFechaAtencion">Última fecha de atención:</label>
            <input type="date" id="UltimaFechaAtencion" name="UltimaFechaAtencion" required />

            <label for="TratamientoEspecialNano">¿Tiene tratamiento especial nano?</label>
            <select id="TratamientoEspecialNano" name="TratamientoEspecialNano" required>
                <option value="false">No</option>
                <option value="true">Sí</option>
            </select>

            <button type="submit">Guardar vehículo</button>
        </form>
    
    
    
    </div>

</section>



<script>

  const form = document.getElementById("form_vehiculos");
  const elements = form.elements;
  let input_placa = document.getElementById("Placa");
  let  status = true

  const checkType = (type, value) => {
    if (type === "number") return Number(value);
    return value;
  };

 
  form.addEventListener("submit", (e) => {
    e.preventDefault();
    let dict = {};

    for (let i = 0; i < elements.length; i++) {
      if (elements[i].tagName === "INPUT" && elements[i].type !== "hidden") {
        const currentTag = elements[i];
        const currentKey = currentTag.name;
        const currentValueType = currentTag.type;
        const currentValue = currentTag.value;

        dict[currentKey] = checkType(currentValueType, currentValue);
      }
    }

    console.log("Datos del formulario:", dict);
    if(status ==  true){
    fetch('/api/vehiculos', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(dict)
    })
    .then(res => {
      if (res.ok) {
        console.log('Empleado creado con éxito');
        window.location.href = '/Vehiculos/MostrarVehiculos';
      } else {
        return res.json().then(error => {
          console.error('Error desde el servidor:', error);
          alert(error.message || "Hubo un error al crear el empleado");
        });
      }
    })
    .catch(error => {
      console.error('Error de red:', error);
      alert('Error de red o del servidor');
    });


    }
  });
</script>








