@model Lavado

<section class="formulario">

    <h1>Agregar Lavado</h1>

    <div class="form-container">


        <form id="form_lavados" >
            <label for="TipoNombre">Tipo de Lavado:</label>
            <select id="TipoNombre" name="nombreTipo" class="minima-dropdown">
                <option value="Básico">Básico</option>
                <option value="Premium">Premium</option>
                <option value="Deluxe">Deluxe</option>
                <option value="La Joya">La Joya</option>
            </select>

            <label for="Placa">Placa:</label>
            <input type="text" name="Placa" maxlength="20" required />

            <label for="IdCliente">ID Cliente:</label>
            <input type="number" name="IdCliente" required />

            <label for="Estado">Estado:</label>
            <select name="Estado" class="minima-dropdown">
                <option value="0">En Proceso</option>
                <option value="1">Facturado</option>
                <option value="2">Agendado</option>
            </select>

            <div style="display:none " id="JoyaDiv">
                <label for="Precio" style="margin-bottom:5px">Precio Acordado</label>
                <input type="number" name="Precio" />
            </div>
            <button type="submit">Crear lavado</button>
        </form>



    </div>

   

</section>

<script>

    let select = document.getElementById("TipoNombre")

    let div = document.getElementById("JoyaDiv")

    select.addEventListener("change",()=>{

        if(select.value=="La Joya"){

            div.style= "display:flex;flex-direction:column"

        }else{

            div.style.display = "none";
        }

    })

let form_clientes = document.getElementById("form_lavados");

let elementos = form_clientes.elements

form_clientes.addEventListener("submit",(e)=>{
let dict = {}
e.preventDefault()

for(let i=0;i<elementos.length;i++){
    let currentElement = elementos[i]
    if (currentElement.tag="INPUT" && currentElement.type!="hidden"){
       
        let key = currentElement.name
        let value = currentElement.value

        console.log(key)
        console.log(value)   
        dict[key] = value
        
    }

    
}
    fetch('/api/lavados', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify(dict)
})
.then(res => {

    console.log(res.status)
  if (res.ok) {
    console.log('Cliente creado con éxito');
    window.location.href = '/Lavados/MostrarLavados'; 
  } else {
    return res.json().then(error => {
      console.error('Error desde el servidor:', error);
      alert(error.message || "Hubo un error al crear el empleado");
    });
  }
})
.catch(error => {
  console.error('Error de red:', error);
  alert('Error de red o del servidor');
});


    
})





</script>
