@model Cliente

<section class="formulario">
    <h1>Agregar Cliente</h1>

    <div class="form-container">
        <form id="form_clientes" >
            <label for="Identificacion">Identificación:</label>
            <input type="number" id="Identificacion" name="Identificacion" required />
            @Html.ValidationMessageFor(m => m.Identificacion)

            <label for="NombreCompleto">Nombre completo:</label>
            <input type="text" id="NombreCompleto" name="NombreCompleto" maxlength="100" required />

            <label for="Provincia">Provincia:</label>
            <input type="text" id="Provincia" name="Provincia" maxlength="100" required />

            <label for="Canton">Cantón:</label>
            <input type="text" id="Canton" name="Canton" maxlength="100" required />

            <label for="Distrito">Distrito:</label>
            <input type="text" id="Distrito" name="Distrito" maxlength="100" required />

            <label for="DireccionExacta">Dirección exacta:</label>
            <input type="text" id="DireccionExacta" name="DireccionExacta" maxlength="100" required />

            <label for="Telefono">Teléfono:</label>
            <input type="number" id="Telefono" name="Telefono" required />
            <label for="PreferenciaLavado">Preferencia de lavado:</label>
            <select id="PreferenciaLavado" name="PreferenciaLavado">

                <option value="0">Semanal</option>
                <option value="1">Quincenal</option>
                <option value="2">Mensual</option>

            </select> 
            <button type="submit">Guardar</button>
        </form>
    </div>
</section>

<script>


let form_clientes = document.getElementById("form_clientes");

let elementos = form_clientes.elements

form_clientes.addEventListener("submit",(e)=>{
let dict = {}
e.preventDefault()

for(let i=0;i<elementos.length;i++){
    let currentElement = elementos[i]
    if (currentElement.tag="INPUT" && currentElement.type!="hidden"){
       

        let key = currentElement.name
        let value = currentElement.value
        
        dict[key] = value
        
    }

    
}

    fetch('/api/clientes', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify(dict)
})
.then(res => {

    console.log(res.status)
  if (res.ok) {
    console.log('Cliente creado con éxito');
    window.location.href = '/Clientes/MostrarClientes'; 
  } else {
    return res.json().then(error => {
      console.error('Error desde el servidor:', error);
      alert(error.message || "Hubo un error al crear el empleado");
    });
  }
})
.catch(error => {
  console.error('Error de red:', error);
  alert('Error de red o del servidor');
});


    
})

</script>