@model Cliente

<section class="formulario">
    <h1>Agregar Cliente</h1>

    <div class="form-container">
        <form asp-controller="Clientes" asp-action="CrearCliente" method="post">
            <label for="Identificacion">Identificación:</label>
            <input type="number" id="Identificacion" name="Identificacion" required />
            @Html.ValidationMessageFor(m => m.Identificacion)

            <label for="NombreCompleto">Nombre completo:</label>
            <input type="text" id="NombreCompleto" name="NombreCompleto" maxlength="100" required />

            <label for="Provincia">Provincia:</label>
            <input type="text" id="Provincia" name="Provincia" maxlength="100" required />

            <label for="Canton">Cantón:</label>
            <input type="text" id="Canton" name="Canton" maxlength="100" required />

            <label for="Distrito">Distrito:</label>
            <input type="text" id="Distrito" name="Distrito" maxlength="100" required />

            <label for="DireccionExacta">Dirección exacta:</label>
            <input type="text" id="DireccionExacta" name="DireccionExacta" maxlength="100" required />

            <label for="Telefono">Teléfono:</label>
            <input type="number" id="Telefono" name="Telefono" required />
            <label for="PreferenciaLavado">Preferencia de lavado:</label>
            <select id="PreferenciaLavado" name="PreferenciaLavado">

                <option value="0">Semanal</option>
                <option value="1">Quincenal</option>
                <option value="2">Mensual</option>

            </select> 
            <button type="submit">Guardar</button>
        </form>
    </div>
</section>



